In [1]:
import pandas as pd

In [2]:
schoolfile = 'Resources/schools_complete.csv'
studentfile = 'Resources/students_complete.csv'

csv_school = pd.read_csv(schoolfile)
csv_student = pd.read_csv(studentfile)
csv_school.head()
csv_student.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [3]:
## District Summary

# * Create a high level snapshot (in table form) of the district's key metrics, including:
#   * Total Schools
#   * Total Students
#   * Total Budget
#   * Average Math Score
#   * Average Reading Score
#   * % Passing Math
#   * % Passing Reading
#   * Overall Passing Rate (Average of the above two)
totalschool = csv_school['School ID'].count()
totalstudent = csv_student['Student ID'].count()
totalbudge = csv_school['budget'].sum()
avgmath = csv_student['math_score'].mean()
avgreading = csv_student['reading_score'].mean()
passmath = csv_student.loc[csv_student['math_score']>=70 ,'Student ID'].count()/totalstudent
passreadig = csv_student.loc[csv_student['reading_score']>=70,'Student ID'].count()/totalstudent
passrate = (passmath + passreadig)/2

DistrictSummary = pd.DataFrame({'Total Schools':totalschool
                               ,'Total Students':totalstudent
                               ,'Total Budget':totalbudge
                               ,'Average Math Score':avgmath
                               ,'verage Reading Score':avgreading
                               ,'% Passing Math':passmath
                               ,'% Passing Reading':passreadig
                               ,'Overall Passing Rate':passrate}, index=[0])


DistrictSummary = DistrictSummary.style.format({'Total Budget': '${:,.2f}'
                                                ,'% Passing Math':'{:.2%}'
                                               ,'% Passing Reading':'{:.2%}'
                                               ,'Overall Passing Rate':'{:.2%}'})
DistrictSummary

In [4]:
# ### School Summary

# * Create an overview table that summarizes key metrics about each school, including:
#   * School Name
#   * School Type
#   * Total Students
#   * Total School Budget
#   * Per Student Budget
#   * Average Math Score
#   * Average Reading Score
#   * % Passing Math
#   * % Passing Reading
#   * Overall Passing Rate (Average of the above two)

In [5]:
df = pd.merge(csv_student,csv_school, how = 'left', on ='school_name')

group_school = df.groupby(['school_name','type'])

schoolstudent = group_school['Student ID'].count()
schoolbudget = group_school['budget'].mean()
schoolperbudget = schoolbudget/schoolstudent
schoolavgmath = group_school['math_score'].mean()
schoolavgread = group_school['reading_score'].mean()
schoolpassmath = group_school['math_score'].agg(lambda x : (x>=70).sum()/len(x))
schoolpassread = group_school['reading_score'].agg(lambda x:(x>=70).sum()/len(x))
schooloverallpass = (schoolpassmath+schoolpassread)/2

schoolsummary =pd.DataFrame({'Total Students':schoolstudent
                            ,'Total School Budget':schoolbudget
                            ,'Per Student Budget':schoolperbudget
                            ,'Average Math Score':schoolavgmath
                            ,'Average Reading Score':schoolavgread
                            ,'% Passing Math': schoolpassmath
                            ,'% Passing Reading':schoolpassread
                            ,'Overall Passing Rate':schooloverallpass}).reset_index()

schoolsummary_format = schoolsummary.style.format({'Total Students':'{:,}'
                                           ,'Total School Budget':'${:,.2f}'
                                           ,'Per Student Budget':'${:,.2f}'
                                           ,'% Passing Math':'{:.2%}'
                                           ,'% Passing Reading':'{:.2%}'
                                           ,'Overall Passing Rate':'{:.2%}'})
schoolsummary_format

In [6]:
### Top Performing Schools (By Passing Rate)
top5_school = schoolsummary.nlargest(5,'Overall Passing Rate').reset_index(drop= True)
top5_school_format = top5_school.style.format({'Total Students':'{:,}'
                                           ,'Total School Budget':'${:,.2f}'
                                           ,'Per Student Budget':'${:,.2f}'
                                           ,'% Passing Math':'{:.2%}'
                                           ,'% Passing Reading':'{:.2%}'
                                           ,'Overall Passing Rate':'{:.2%}'})
top5_school_format

In [7]:
### Bottom Performing Schools (By Passing Rate)
bottom5_school = schoolsummary.nsmallest(5,'Overall Passing Rate').reset_index(drop= True)
bottom5_school_format = bottom5_school.style.format({'Total Students':'{:,}'
                                           ,'Total School Budget':'${:,.2f}'
                                           ,'Per Student Budget':'${:,.2f}'
                                           ,'% Passing Math':'{:.2%}'
                                           ,'% Passing Reading':'{:.2%}'
                                           ,'Overall Passing Rate':'{:.2%}'})
bottom5_school_format

In [8]:
### Math Scores by Grade\*\*

grademath = pd.pivot_table(df,index='school_name', columns='grade', values='math_score')

grademath = grademath[['9th','10th','11th','12th']]
grademath

grade                        9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [9]:
### Reading Scores by Grade

graderead = pd.pivot_table(df, index='school_name',columns='grade',values = 'reading_score')

graderead = graderead[['9th','10th','11th','12th']]
graderead

grade                        9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [10]:
### Scores by School Spending
# * Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
#   * Average Math Score
#   * Average Reading Score
#   * % Passing Math
#   * % Passing Reading
#   * Overall Passing Rate (Average of the above two)

# (schoolsummary['Per Student Budget'].max() - schoolsummary['Per Student Budget'].min())/4
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

schoolsummary['Budget Level'] = pd.cut(schoolsummary['Per Student Budget'],spending_bins,labels = group_names)

group_spend = schoolsummary.groupby('Budget Level')
spendsummary = group_spend.mean().iloc[:,3:]

spendsummary_format = spendsummary.style.format({'% Passing Math':'{:.2%}'
                                                ,'% Passing Reading':'{:.2%}'
                                                ,'Overall Passing Rate':'{:.2%}'})
spendsummary_format

In [11]:
### Scores by School Size

size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

schoolsummary['School Size'] = pd.cut(schoolsummary['Total Students'],size_bins,labels=group_names)
size_group = schoolsummary.groupby('School Size')

sizesummary = size_group.mean().iloc[:,3:]

sizesummary_format = sizesummary.style.format({'% Passing Math':'{:.2%}'
                                               ,'% Passing Reading':'{:.2%}'
                                               ,'Overall Passing Rate':'{:.2%}'})
sizesummary_format

In [12]:
### Scores by School Type

type_group = schoolsummary.groupby('type')
typesummary = type_group.mean().iloc[:,3:]
typesummary_format = typesummary.style.format({'% Passing Math':'{:.2%}'
                                               ,'% Passing Reading':'{:.2%}'
                                               ,'Overall Passing Rate':'{:.2%}'})
typesummary_format